.services {
    width: 100%;
    margin: 0;
    height: auto;
    background: url("/img/Services/black-linen.png");
}

.services h2 {
    margin: 0;
    padding-top: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    color: #33403C;
    text-shadow: 0 0 15px #fff, 0 0px #fff, 0 0 20px #fff, 0 0 15px #fff, 0 0 20px #fff;
}

.services-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0 30px 0;
}

.icon-container {
    width: 250px;
    height: 250px;
    padding: 20px;
    margin: 20px 15px;
    border-radius: 30px;
    border: 1px solid #000000;
    background: #33403C;
    -webkit-box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 11px 20px 0px rgba(0, 0, 0, 0.75);
}

.icon-container img {
    flex-wrap: wrap;
    height: 100%;
    border-radius: 150px;
}

.icon-container .JavaScript {
    height: 91%;
    padding: 13px;
}

.icon-container .React {
    margin-left: 4px;
}