.testimonials {
    margin: 0;
    padding: 50px 0;
    height: auto;
    background: url("/img/Services/black-linen.png");
    -webkit-box-shadow: inset 0px 28px 57px -3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0px 13px 57px -3px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px 11px 20px 0px rgba(0, 0, 0, 0.6);
    text-align: center;
}

.testimonials h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    color: #33403C;
    text-shadow: 0 0 15px #fff, 0 0px #fff, 0 0 20px #fff, 0 0 15px #fff, 0 0 20px #fff;
}

.review-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    margin: 30px 0;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}

.review {
    background: none;
    overflow: hidden;
    width: 15%;
    height: 200px;
    background: rgb(245, 255, 252);
    border-radius: 10px;
    -webkit-box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 11px 20px 0px rgba(0, 0, 0, 0.75);
    opacity: .5;
}

.review-left {
    margin-right: -100px;
}

.review-right {
    margin-left: -100px;
}

.review-center {
    height: auto;
    opacity: 1;
    z-index: 980;
    width: 40%;
    min-width: 235px;
    overflow: hidden;
}

.review-animate {
    animation: fade-in .1s ease 1;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.review-animate-right {
    animation: slide-right .3s ease 1;
}

@keyframes slide-right {
    from {
        opacity: 0;
        margin-left: 30px;
    }
    to {
        opacity: 1;
        margin-left: 0;
    }
}

.review-animate-left {
    animation: slide-left .3s ease 1;
}

@keyframes slide-left {
    from {
        opacity: 0;
        margin-right: 30px;
    }
    to {
        opacity: 1;
        margin-right: 0;
    }
}

.review img {
    height: 100px;
    border-radius: 50%;
    margin: 20px 0 10px 0;
    border: 1.5px solid black;
    margin-right: 15px;
}

.review-left img, .review-right img {
    height: 50px;
    margin: 20px 0 5px 0;
}

.reviewer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-bottom: 2px solid black;
    border-radius: 10px 10px 0 0;
    background: linear-gradient( rgba(51, 64, 60, 0.911), rgb(51, 64, 60));
    color: #fff;
}

.review-left .reviewer-info, .review-right .reviewer-info {
    margin: 30px 0 0 5px;
}

.review-left h4, .review-right h4 {
    font-size: 8px;
}

.reviewer-info {
    margin-top: 50px;
}

.reviewer-info h4 {
    width: 100px;
    margin: 0;
}

.review-text p {
    word-wrap: break-word;
    padding: 25px;
    margin: 0;
    font-size: 16px;
    border-radius: 0 0 10px 10px;
}

.slider-btn-left, .slider-btn-right {
    background: transparent;
    color: #fff;
    font-size: 35px;
    border: none;
    z-index: 990;
    text-shadow: 3px 3px 2px rgb(0, 0, 0);
    padding: 150px 0;
    cursor: pointer;
}

.slider-btn-left {
    margin-right: 54px;
    float: left;
    right: 10px;
}

.slider-btn-right {
    margin-left: 54px;
    float: right;
}

.testimonials .add-testimonial-btn {
    text-align: center;
    padding: 15px;
    background: rgb(253, 0, 80);
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid black;
    -webkit-box-shadow: 7px 11px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 11px 18px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 11px 18px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}